<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="common/form :: form_res(~{::title},~{},~{})">
  <meta charset="UTF-8">
  <title></title>
</head>
<form class="layui-form" id="deptForm" lay-filter="deptForm">
  <div class="layui-fluid" style="padding-bottom: 75px;">
    <div class="layui-card">
      <div class="layui-card-header">基本信息</div>
      <div class="layui-card-body">
        <div class="layui-form-item layui-row">
          <input id="deptId" name="deptId" type="hidden" th:value="${Dept?.deptId}"/>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">部门名称<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input id="deptName" name="deptName" th:value="${Dept?.deptName}" placeholder="请输入部门名称" type="text" class="layui-input" lay-verify="required" required autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">部门编码<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input id="deptCode" name="deptCode" th:value="${Dept?.deptCode}" placeholder="请输入部门编码" type="text" class="layui-input" lay-verify="required" required autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">上级名称<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input id="pid" name="pid" type="hidden" th:value="${Dept?.pid}">
              <input id="pname" name="pname" th:value="${Dept?.pname}" placeholder="请输入上级名称" type="text" class="layui-input" lay-verify="required" required autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">序号</label>
            <div class="layui-input-block">
              <input id="sort" name="sort" th:value="${Dept?.sort}" placeholder="请输入序号" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">部门描述</label>
            <div class="layui-input-block">
              <input id="description" name="description" th:value="${Dept?.description}" placeholder="请输入备注" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group-bottom text-center">
    <button class="layui-btn" lay-filter="btnSubmit" lay-submit>&emsp;提交&emsp;</button>
    <button type="reset" class="layui-btn layui-btn-primary" ew-event="closeDialog">&emsp;取消&emsp;</button>
  </div>
</form>
<div th:replace="common/form :: form_js(~{::script})">
  <script type="text/javascript" th:src="@{/js/system/dept/add_modify.js}"></script>
</div>