<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="common/common :: public_res(~{::title},~{},~{})">
  <title></title>
</head>
<div class="layui-body-header">
  <span class="layui-body-header-title">交易账号管理</span>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
      <div class="layui-card">
        <div class="layui-card-body">
          <div class="layui-form toolbar">
            <div class="layui-form-item">
              <label class="layui-form-label">账号类型</label>
              <div class="layui-input-inline">
                <select name="accountType" id="accountType" lay-search>
                  <option value="">--请选择--</option>
                </select>
              </div>
              <label class="layui-form-label">账号状态</label>
              <div class="layui-input-inline">
                <select name="accountStatus" id="accountStatus" lay-search>
                  <option value="">--请选择--</option>
                  <option value="01">正常</option>
                  <option value="02">停用</option>
                </select>
              </div>
              <label class="layui-form-label">公私账</label>
              <div class="layui-input-inline">
                <select name="publicPrivate" id="publicPrivate" lay-search>
                  <option value="">--请选择--</option>
                  <option value="public">公账</option>
                  <option value="private">私账</option>
                </select>
              </div>
              <div class="layui-inline">
                <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon layui-icon-search"></i>搜索</button>
                <button id="btnAdd" class="layui-btn icon-btn"><i class="layui-icon layui-icon-add-circle"></i>添加</button>
                <button id="btnDel" class="layui-btn icon-btn"><i class="layui-icon layui-icon-delete"></i>删除</button>
              </div>
            </div>
          </div>
          <table class="layui-table" id="tradeAccountTable" lay-filter="tradeAccountTable"></table>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/common :: public_js(~{::script})">
  <script type="text/javascript" th:src="@{/js/finance/trade_account.js}"></script>
  <script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
  </script>
</div>