<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.stage.esmanager.purchase.mapper.PurchaseOrderMapper">

  <resultMap id="BasePurchaseOrderMap" type="com.deepspc.stage.esmanager.purchase.entity.PurchaseOrder">
    <id column="purchase_order_id" property="purchaseOrderId" />
    <result column="purchase_order_no" property="purchaseOrderNo" />
    <result column="supplier_id" property="supplierId" />
    <result column="supplier_name" property="supplierName" />
    <result column="purchase_quantity" property="purchaseQuantity" />
    <result column="arrive_total_quantity" property="arriveTotalQuantity" />
    <result column="total_amount" property="totalAmount" />
    <result column="pay_way" property="payWay" />
    <result column="pay_account" property="payAccount" />
    <result column="pay_date" property="payDate" />
    <result column="order_status" property="orderStatus" />
    <result column="purchaser_id" property="purchaserId" />
    <result column="purchaser_name" property="purchaserName" />
    <result column="purchase_date" property="purchaseDate" />
    <result column="expect_arrive_date" property="expectArriveDate" />
    <result column="actual_arrive_date" property="actualArriveDate" />
    <result column="express_way" property="expressWay" />
    <result column="express_comp" property="expressComp" />
    <result column="remark" property="remark" />
    <result column="creator_name" property="creatorName" />
    <result column="create_date" property="createDate" />
    <result column="updator_name" property="updatorName" />
    <result column="update_date" property="updateDate" />
  </resultMap>

  <resultMap id="PurchaseOrderDetailMap" type="com.deepspc.stage.esmanager.purchase.entity.PurchaseOrder">
    <id column="purchase_order_id" property="purchaseOrderId" />
    <result column="purchase_order_no" property="purchaseOrderNo" />
    <result column="supplier_id" property="supplierId" />
    <result column="supplier_name" property="supplierName" />
    <result column="purchase_quantity" property="purchaseQuantity" />
    <result column="arrive_total_quantity" property="arriveTotalQuantity" />
    <result column="total_amount" property="totalAmount" />
    <result column="pay_way" property="payWay" />
    <result column="pay_account" property="payAccount" />
    <result column="pay_date" property="payDate" />
    <result column="order_status" property="orderStatus" />
    <result column="purchaser_id" property="purchaserId" />
    <result column="purchaser_name" property="purchaserName" />
    <result column="purchase_date" property="purchaseDate" />
    <result column="expect_arrive_date" property="expectArriveDate" />
    <result column="actual_arrive_date" property="actualArriveDate" />
    <result column="express_way" property="expressWay" />
    <result column="express_comp" property="expressComp" />
    <result column="remark" property="remark" />
    <result column="creator_name" property="creatorName" />
    <result column="create_date" property="createDate" />
    <result column="updator_name" property="updatorName" />
    <result column="update_date" property="updateDate" />
    <!-- fetchType="eager" 急加载，查询主表时加载子表-->
    <collection property="details" column="purchase_order_id" fetchType="eager" select="getPurchaseOrderDetail" ofType="com.deepspc.stage.esmanager.purchase.entity.PurchaseOrderDetail"/>
  </resultMap>

  <sql id="default_purchase_order_column">
    purchase_order_id,
    purchase_order_no,
    supplier_id,
    supplier_name,
    purchase_quantity,
    arrive_total_quantity,
    total_amount,
    pay_way,
    pay_account,
    pay_date,
    order_status,
    purchaser_id,
    purchaser_name,
    purchase_date,
    expect_arrive_date,
    actual_arrive_date,
    express_way,
    express_comp,
    remark,
    creator_id,
    creator_name,
    create_date,
    updator_id,
    updator_name,
    update_date
  </sql>

  <select id="loadPurchaseOrders" resultMap="BasePurchaseOrderMap">
    SELECT
    <include refid="default_purchase_order_column"/>
    FROM
      ec_purchase_order
    WHERE
    <if test="checkAll">
      1 = 1
    </if>
    <if test="!checkAll">
      creator_id = #{userId}
    </if>
    <if test="purchaseOrderNo != null and purchaseOrderNo != ''">
      AND purchase_order_no like CONCAT('%',#{purchaseOrderNo},'%')
    </if>
    <if test="goodsName != null and goodsName != ''">
      AND goods_name like CONCAT('%',#{goodsName},'%')
    </if>
    <if test="purchaserName != null and purchaserName != ''">
      AND purchaser_name like CONCAT('%',#{purchaserName},'%')
    </if>
    ORDER BY create_date DESC
  </select>

  <select id="loadDetail" resultMap="PurchaseOrderDetailMap">
    SELECT
    <include refid="default_purchase_order_column"/>
    FROM
      ec_purchase_order
    WHERE
      purchase_order_id = #{purchaseOrderId}
  </select>

  <select id="getPurchaseOrderDetail" resultType="com.deepspc.stage.esmanager.purchase.entity.PurchaseOrderDetail">
    SELECT
        a.order_detail_id,
        a.sku,
        a.category_name,
        a.category_code,
        a.goods_unit,
        a.detail_quantity,
        a.single_price,
        a.arrive_quantity,
        a.remark,
        c.file_path "colorPath",
        d.file_path "barcodePath"
    FROM
        ec_purchase_order_detail a
        LEFT JOIN ec_goods_sku b ON a.sku = b.sku
        LEFT JOIN ec_goods_attachment c ON b.color_pic_id = c.goods_attachment_id
        LEFT JOIN ec_goods_attachment d ON b.barcode_pic_id = d.goods_attachment_id
    WHERE
        a.purchase_order_id = #{purchaseOrderId}
  </select>

  <delete id="deletePurchaseOrders">
    DELETE a, b
    FROM
    ec_purchase_order a
    LEFT JOIN ec_purchase_order_detail b ON a.purchase_order_id = b.purchase_order_id
    WHERE
    a.purchase_order_id IN
    <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

</mapper>