<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.stage.esmanager.goods.mapper.GoodsInfoMapper">

  <resultMap id="BaseGoodsInfoMap" type="com.deepspc.stage.esmanager.goods.entity.GoodsInfo">
    <id column="goods_id" property="goodsId" />
    <result column="goods_name" property="goodsName" />
    <result column="goods_no" property="goodsNo" />
    <result column="goods_type" property="goodsType" />
    <result column="category_name" property="categoryName" />
    <result column="category_code" property="categoryCode" />
    <result column="brand_name" property="brandName" />
    <result column="brand_code" property="brandCode" />
    <result column="creator_id" property="creatorId" />
    <result column="creator_name" property="creatorName" />
    <result column="create_date" property="createDate" />
    <result column="updator_id" property="updatorId" />
    <result column="updator_name" property="updatorName" />
    <result column="update_date" property="updateDate" />
  </resultMap>
  
  <resultMap id="GoodsDataMap" type="com.deepspc.stage.esmanager.goods.model.GoodsData">
    <id column="goods_id" property="goodsId" />
    <result column="goods_name" property="goodsName" />
    <result column="goods_no" property="goodsNo" />
    <result column="goods_type" property="goodsType" />
    <result column="category_name" property="categoryName" />
    <result column="category_code" property="categoryCode" />
    <result column="brand_name" property="brandName" />
    <result column="brand_code" property="brandCode" />
    <result column="creator_id" property="creatorId" />
    <result column="creator_name" property="creatorName" />
    <result column="create_date" property="createDate" />
    <result column="updator_id" property="updatorId" />
    <result column="updator_name" property="updatorName" />
    <result column="update_date" property="updateDate" />
    <!-- fetchType="eager" 急加载，查询主表时加载子表-->
    <collection property="pics" column="goods_id" fetchType="eager" select="getGoodsPic" ofType="com.deepspc.stage.esmanager.goods.model.GoodsSkuData"/>
  </resultMap>

  <sql id="default_goods_column">
    goods_id,
    goods_name,
    goods_no,
    goods_type,
    category_name,
    category_code,
    brand_name,
    brand_code,
    creator_id,
    creator_name,
    create_date,
    updator_id,
    updator_name,
    update_date
  </sql>
  
  <select id="loadGoods" resultMap="BaseGoodsInfoMap">
    SELECT
    <include refid="default_goods_column"/>
    FROM
      ec_goods_info
    <if test="checkAll">
      WHERE 1 = 1
    </if>
    <if test="!checkAll">
      WHERE creator_id = #{userId}
    </if>
    <if test="goodsType != null and goodsType != ''">
      AND goods_type = #{goodsType}
    </if>
    ORDER BY create_date DESC
  </select>

  <select id="loadSelectGoods" resultType="map">
    SELECT
      a.goods_id "goodsId",
      a.goods_name "goodsName",
      a.goods_no "goodsNo",
      a.category_code "categoryCode",
      a.category_name "categoryName",
      sd.name "goodsType",
      b.sku,
      c.file_path "colorPath",
      d.file_path "barcodePath"
    FROM
      ec_goods_info a
      LEFT JOIN ec_goods_sku b ON a.goods_id = b.goods_id
      LEFT JOIN ec_goods_attachment c ON a.goods_id = c.goods_id
      AND b.color_pic_id = c.goods_attachment_id
      LEFT JOIN ec_goods_attachment d ON a.goods_id = d.goods_id
      AND b.barcode_pic_id = d.goods_attachment_id
      LEFT JOIN sys_dict sd ON sd.parent_code = 'goods_type'
      AND sd.code = a.goods_type
    WHERE 1 = 1
    <if test="goodsType != null and goodsType != ''">
      AND a.goods_type = #{goodsType}
    </if>
    <if test="goodsName != null and goodsName != ''">
      AND a.goods_name like CONCAT('%',#{goodsType},'%')
    </if>
  </select>

  <select id="getGoodsPic" resultType="com.deepspc.stage.esmanager.goods.model.GoodsSkuData">
    SELECT
        a.goods_sku_id "goodsSkuId",
        a.goods_id "goodsId",
        a.sku,
        a.color_pic_id "colorPicId",
        b.file_path "colorPicPath",
        a.barcode_pic_id "barcodePicId",
        c.file_path "barcodePicPath"
    FROM
        ec_goods_sku a
        LEFT JOIN ec_goods_attachment b ON a.goods_id = b.goods_id
        AND a.color_pic_id = b.goods_attachment_id
        LEFT JOIN ec_goods_attachment c ON a.goods_id = c.goods_id
        AND a.barcode_pic_id = c.goods_attachment_id
        AND a.barcode_pic_id = c.goods_attachment_id
    WHERE
        a.goods_id = #{goodsId}
  </select>

  <select id="getGoodsDetail" resultMap="GoodsDataMap">
    SELECT
      goods_id,
      goods_name,
      goods_no,
      goods_type,
      category_name,
      category_code,
      brand_name,
      brand_code,
      creator_id,
      creator_name,
      date_format(create_date, '%Y-%m-%d') "create_date",
      updator_id,
      updator_name,
      date_format(update_date, '%Y-%m-%d') "update_date"
    FROM
      ec_goods_info
    WHERE
      goods_id = #{goodsId}
  </select>

  <delete id="deleteGoods">
    DELETE a, b, c, d
    FROM
    ec_goods_info a
    LEFT JOIN ec_goods_property_info b ON a.goods_id = b.goods_id
    LEFT JOIN ec_goods_attachment c ON a.goods_id = c.goods_id
    LEFT JOIN ec_goods_sku d ON a.goods_id = d.goods_id
    WHERE
    a.goods_id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
</mapper>