<html xmlns:th="http://thymeleaf.org">
<head th:replace="common/common :: public_res(~{::title},~{},~{::style})">
  <title></title>
  <style>
    .layui-form-item {
      margin-top: 15px;
    }
    .layui-input {
      width: 90%;
    }
  </style>
</head>
<div class="layui-form model-form" id="form-psw">
    <div class="layui-form-item">
        <label class="layui-form-label">原密码:</label>
        <div class="layui-input-block">
            <input type="password" name="oldPassword" placeholder="请输入原始密码" class="layui-input"
                   lay-verType="tips" lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码:</label>
        <div class="layui-input-block">
            <input type="password" name="newPassword" placeholder="请输入新密码" class="layui-input"
                   lay-verType="tips" lay-verify="required|psw" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">确认新密码:</label>
        <div class="layui-input-block">
            <input type="password" name="repeatPassword" placeholder="请再次输入新密码" class="layui-input"
                   lay-verType="tips" lay-verify="required|repsw" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block text-right">
            <button class="layui-btn" lay-filter="submit-psw" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </div>
</div>
<div th:replace="common/common :: public_js(~{::script})">
  <script type="text/javascript" th:src="@{/modular/system/js/password.js}"></script>
</div>
