<div class="layui-card-header">主题设置</div>
<div class="more-theme-list" xmlns:th="http://thymeleaf.org">
  <div class="more-theme-item active">
    <img th:src="@{/modular/system/images/theme-admin.png}"/>
  </div>
  <div class="more-theme-item" data-theme="theme-cyan">
    <img th:src="@{/modular/system/images/theme-cyan.png}"/>
  </div>
  <div class="more-theme-item" data-theme="theme-white">
    <img th:src="@{/modular/system/images/theme-white.png}"/>
  </div>
  <div class="more-theme-item" data-theme="theme-pink">
    <img th:src="@{/modular/system/images/theme-pink.png}"/>
  </div>
  <div class="more-theme-item" data-theme="theme-colorful">
    <img th:src="@{/modular/system/images/theme-white.png}"/>
  </div>
  <div class="more-theme-item" data-theme="theme-blue">
    <img th:src="@{/modular/system/images/theme-blue.png}"/>
  </div>
  <div class="more-theme-item" data-theme="theme-green">
    <img th:src="@{/modular/system/images/theme-green.png}"/>
  </div>
  <div class="more-theme-item" data-theme="theme-purple">
    <img th:src="@{/modular/system/images/theme-purple.png}"/>
  </div>
  <div class="more-theme-item" data-theme="theme-red">
    <img th:src="@{/modular/system/images/theme-red.png}"/>
  </div>
</div>

<script>
  layui.use(['form', 'admin'], function () {
    let $ = layui.jquery;
    let form = layui.form;
    let admin = layui.admin;
    let setter = admin.setter;
    let $body = $('body');

    // 切换主题
    let $themItem = $('.more-theme-item');
    $themItem.click(function () {
      $themItem.removeClass('active');
      $(this).addClass('active');
      admin.changeTheme($(this).data('theme'));
    });
    let theme = $body.data('theme');
    if (theme) {
      $themItem.removeClass('active');
      $themItem.filter('[data-theme="' + theme + '"]').addClass('active');
    }
  });
</script>