<html xmlns:th="http://thymeleaf.org">
<head th:replace="common/common :: public_res(~{::title},~{::link},~{})">
  <title></title>
  <link rel="stylesheet" th:href="@{/css/admin.css}" media="all">
  <link rel="stylesheet" th:href="@{/css/user_info.css}" media="all">
</head>
<div class="layui-body-header">
  <span class="layui-body-header-title">个人信息</span>
  <span class="layui-breadcrumb pull-right">
        <a th:href="@{/sys/main}">首页</a>
        <a><cite>个人中心</cite></a>
    </span>
</div>
<!-- 正文开始 -->
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <!-- 左 -->
    <div class="layui-col-sm12 layui-col-md3">
      <div class="layui-card">
        <div class="layui-card-body" style="padding: 25px;">
          <div class="text-center layui-text">
            <div class="user-info-head" id="imgHead">
              <img id="avatarPreview" th:src="@{/sys/previewAvatar}"/>
            </div>
            <h2 style="padding-top: 20px;" th:text="${User.userName}">名称</h2>
            <p style="padding-top: 8px;" th:text="${User.deptName}">部门</p>
          </div>
          <div class="layui-text" style="padding-top: 30px;">
            <div class="info-list-item">
              <i class="layui-icon layui-icon-notice"></i>
              <p th:text="${User.email}"></p>
            </div>

            <div class="info-list-item">
              <i class="layui-icon layui-icon-cellphone"></i>
              <p th:text="${User.contactNum}">13800138000</p>
            </div>
            <div class="info-list-item">
              <i class="layui-icon layui-icon-location"></i>
              <p>中国 北京市 朝阳区 xxx街道 000号</p>
            </div>
          </div>
          <div class="dash"></div>
        </div>
      </div>
    </div>
    <!-- 右 -->
    <div class="layui-col-sm12 layui-col-md9">
      <div class="layui-card">
        <div class="layui-card-body layui-text">

          <div class="layui-tab layui-tab-brief" lay-filter="userInfoTab">
            <ul class="layui-tab-title">
              <li class="layui-this">基本信息</li>
            </ul>
            <div class="layui-tab-content">
              <div class="layui-form layui-tab-item layui-show" lay-filter="userInfoForm">
                <input type="hidden" name="userId" id="userId" th:value="${User.userId}"/>
                <div class="layui-form user-info-form" style="max-width: 400px;padding-top: 25px;">
                  <div class="layui-form-item">
                    <label class="layui-form-label">账号:</label>
                    <div class="layui-input-block">
                      <input type="text" name="account" th:value="${account}" class="layui-input layui-disabled" lay-verify="required" disabled/>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">性别:</label>
                    <div class="layui-input-block">
                      <input type="radio" name="gender" th:value="M" th:checked="${User.gender == 'M'}" title="男">
                      <input type="radio" name="gender" th:value="F" th:checked="${User.gender == 'F'}" title="女">
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">邮箱:<span style="color: red;">*</span></label>
                    <div class="layui-input-block">
                      <input type="email" name="email" id="email" th:value="${User.email}" class="layui-input" autocomplete="off" lay-verify="required|email" required/>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">姓名:<span style="color: red;">*</span></label>
                    <div class="layui-input-block">
                      <input type="text" name="userName" id="userName" th:value="${User.userName}" class="layui-input" autocomplete="off" lay-verify="required" required/>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">生日:</label>
                    <div class="layui-input-block">
                      <input type="text" id="birthDate" name="birthDate" th:value="${#dates.format(User.birthDate, 'yyyy-MM-dd')}" class="layui-input" autocomplete="off"/>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label">电话:</label>
                    <div class="layui-input-block">
                      <input type="text" name="contactNum" id="contactNum" th:value="${User.contactNum}" class="layui-input" autocomplete="off"/>
                    </div>
                  </div>
                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button type="button" class="layui-btn" lay-filter="userInfoSubmit" lay-submit>
                        更新信息
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/common :: public_js(~{::script})">
  <script type="text/javascript" th:src="@{/js/user_info.js}"></script>
</div>