<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.stage.sys.system.mapper.UserAccessMapper">
  <insert id="saveBatch">
    insert into sys_user_access(user_id, access_id) values
    <foreach collection="list" index="index" separator="," item="item">
      (#{item.userId},#{item.accessId})
    </foreach>
  </insert>
</mapper>