<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="common/form :: form_res(~{::title},~{},~{::style})">
  <meta charset="UTF-8">
  <title></title>
  <style>
    .layui-table, .layui-table-view {margin: 0;}
  </style>
</head>
<form class="layui-form">
  <div class="layui-fluid" style="padding-bottom: 75px;">
    <div class="layui-card">
      <div class="layui-card-header">基本信息</div>
      <div class="layui-card-body">
        <div class="layui-form-item layui-row">
          <input id="goodsId" name="goodsId" type="hidden" th:value="${GoodsData?.goodsId}"/>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">商品名称<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input id="goodsName" name="goodsName" th:value="${GoodsData?.goodsName}" placeholder="商品名称" type="text" class="layui-input" lay-verify="required" required autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">货号</label>
            <div class="layui-input-block">
              <input id="goodsNo" name="goodsNo" th:value="${GoodsData?.goodsNo}" placeholder="货号" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">商品类型<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <select name="goodsType" id="goodsType" th:value="${GoodsData?.goodsType}" lay-verify="required" class="layui-input" lay-search>
                <option value="">--请选择--</option>
              </select>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">类目<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <select name="categoryCode" id="categoryCode" th:value="${GoodsData?.categoryCode}" lay-filter="categoryFilter" lay-verify="required" class="layui-input" lay-search>
                <option value="">--请选择--</option>
                <option th:selected="${GoodsData?.categoryCode == '26'}" value="26">箱包</option>
              </select>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">颜色</label>
            <div class="layui-input-block">
              <button type="button" class="layui-btn" id="uploadColor">上传图片</button>
            </div>
          </div>
          <div class="layui-inline layui-col-md12"id="colorList"></div>
        </div>
        <th:block th:if="${GoodsData != null}">
        <div style="margin-left: 30px;">
          <table class="layui-table" id="skuTable" lay-filter="skuTable"></table>
        </div>
        </th:block>
      </div>
      <!-- 商品属性 -->
      <div class="layui-card-header">属性信息</div>
      <div class="layui-card-body">
        <div id="propertiesBlock" class="layui-form-item layui-row"></div>
      </div>
    </div>
  </div>
  <div class="form-group-bottom text-center">
    <button class="layui-btn" lay-filter="btnSubmit" lay-submit>&emsp;保存&emsp;</button>
    <button type="reset" class="layui-btn layui-btn-primary" ew-event="closeDialog">&emsp;取消&emsp;</button>
  </div>
  <button id="submitFile" style="display: none;"></button>
</form>
<div th:replace="common/form :: form_js(~{::script})">
  <script th:inline="javascript" type="text/javascript">
    let skuValues = [[${GoodsData?.pics}]];
  </script>
  <script type="text/javascript" th:src="@{/js/goods/add_modify_goods.js}"></script>
  <script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
  </script>
</div>