<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="common/common :: public_res(~{::title},~{},~{})">
  <title></title>
</head>
<div class="layui-body-header">
  <span class="layui-body-header-title">商品选择</span>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
      <div class="layui-card">
        <div class="layui-card-body">
          <div class="layui-form toolbar">
            <div class="layui-form-item">
              <div class="layui-inline">
                <select name="goodsType" id="goodsType" lay-search>
                  <option value="">--类型--</option>
                  <option value="01">常规产品</option>
                  <option value="02">季节产品</option>
                </select>
              </div>
              <div class="layui-inline">
                <input id="goodsName" name="goodsName" class="layui-input" type="text" autocomplete="off" placeholder="商品名称"/>
              </div>
              <div class="layui-inline">
                <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon layui-icon-search"></i>搜索</button>
              </div>
            </div>
          </div>
          <table class="layui-table" id="selectGoodsTable" lay-filter="selectGoodsTable"></table>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/common :: public_js(~{::script})">
  <script type="text/javascript" th:src="@{/js/goods/select_goods.js}"></script>
</div>