<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="common/form :: form_res(~{::title},~{},~{})">
  <meta charset="UTF-8">
  <title></title>
</head>
<form class="layui-form" id="userForm" lay-filter="userForm">
  <div class="layui-fluid" style="padding-bottom: 75px;">
    <div class="layui-card">
      <div class="layui-card-header">基本信息</div>
      <div class="layui-card-body">
        <div class="layui-form-item layui-row">
          <input name="userId" id="userId" type="hidden" th:value="${User?.userId}"/>
          <div class="layui-inline layui-col-md6">
            <label class="layui-form-label">用户名称<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input name="userName" id="userName" th:value="${User?.userName}" placeholder="请输入用户名称" type="text" class="layui-input" lay-verify="required" required autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md6">
            <label class="layui-form-label">账号<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input name="account" id="account" th:value="${User?.account}" placeholder="请输入账号" type="text" class="layui-input" lay-verify="required" required autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md6">
            <label class="layui-form-label">用户编号<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input name="userCode" id="userCode" th:value="${User?.userCode}" placeholder="请输入编号" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md6">
            <label class="layui-form-label">身份证号<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input name="idNo" id="idNo" th:value="${User?.idNo}" lay-verify="required|identity" required placeholder="请输入身份证号" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md6">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
              <input type="radio" name="gender" value="M" th:checked="${User==null || User.gender=='M'}" title="男"/>
              <input type="radio" name="gender" value="F" th:checked="${User?.gender=='F'}" title="女"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md6">
            <label class="layui-form-label">婚姻状况</label>
            <div class="layui-input-block">
              <input type="radio" name="marriage" value="unmarried" th:checked="${User==null || User.marriage=='unmarried'}" title="未婚"/>
              <input type="radio" name="marriage" value="married" th:checked="${User?.marriage=='married'}" title="已婚"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md6">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
              <input name="email" id="email" th:value="${User?.email}" placeholder="请输入邮箱" type="text" class="layui-input" lay-verify="email" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md6">
            <label class="layui-form-label">联系电话<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input name="contactNo" id="contactNo" th:value="${User?.contactNo}" lay-verify="required|phone" required placeholder="请输入联系电话" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md6">
            <label class="layui-form-label">入职日期</label>
            <div class="layui-input-block">
              <input id="joinDate" name="joinDate" th:value="${User?.joinDate}" placeholder="请输入入职日期" type="text" class="layui-input date-icon" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md6">
            <label class="layui-form-label">转正日期</label>
            <div class="layui-input-block">
              <input id="officialDate" name="officialDate" th:value="${User?.officialDate}" placeholder="请输入转正日期" type="text" class="layui-input date-icon" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md6">
            <label class="layui-form-label">离职日期</label>
            <div class="layui-input-block">
              <input id="desertDate" name="desertDate" th:value="${User?.desertDate}" placeholder="请输入离职日期" type="text" class="layui-input date-icon" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md6">
            <label class="layui-form-label">紧急联系人</label>
            <div class="layui-input-block">
              <input id="emergencyContactPerson" name="emergencyContactPerson" th:value="${User?.emergencyContactPerson}" placeholder="请输入紧急联系人" type="text" class="layui-input date-icon" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">紧急联系人电话</label>
            <div class="layui-input-block">
              <input id="emergencyContactNumber" name="emergencyContactNumber" th:value="${User?.emergencyContactNumber}" lay-verify="phone" placeholder="请输入紧急联系人电话" type="text" class="layui-input date-icon" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">工作地址</label>
            <div class="layui-input-block">
              <input id="workAddress" name="workAddress" th:value="${User?.workAddress}" placeholder="请输入工作地址" type="text" class="layui-input date-icon" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">联系地址</label>
            <div class="layui-input-block">
              <input id="contactAddress" name="contactAddress" th:value="${User?.contactAddress}" placeholder="请输入联系地址" type="text" class="layui-input date-icon" autocomplete="off"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-card">
      <div class="layui-card-header">职务信息</div>
      <div class="layui-card-body">
        <div class="layui-form-item layui-row">
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">部门<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input id="deptId" name="deptId" th:value="${User?.deptId}" type="hidden">
              <input id="deptName" name="deptName" th:value="${User?.deptName}" placeholder="请选择部门" type="text" class="layui-input" lay-verify="required" required autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">职位<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <select name="position" id="position" xm-select="selPosition" lay-verify="required" required>
                <option value="">--请选择--</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group-bottom text-center">
    <button class="layui-btn" lay-filter="btnSubmit" lay-submit>提交</button>
    <button type="reset" class="layui-btn layui-btn-primary" ew-event="closeDialog">取消</button>
  </div>
</form>
<div th:replace="common/form :: form_js(~{::script})">
  <script type="text/javascript" th:src="@{/js/system/user/add_modify.js}"></script>
</div>