<!DOCTYPE html>
<html style="height: 100%" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/tree_container :: public_res(~{::title},~{},~{})">
  <title></title>
</head>
<div class="layui-body-header">
  <span class="layui-body-header-title">用户管理</span>
</div>

<div id="myContiner" style="height: 100%">
  <div class="ui-layout-west">
    <div class="box box-main">
      <div class="ui-layout-content">
        <div id="deptTree"></div>
      </div>
    </div>
  </div>
  <div class="ui-layout-center">
    <div class="layui-fluid">
      <div class="layui-row">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-body">
              <div class="layui-form toolbar">
                <div class="layui-form-item">
                  <div class="layui-inline">
                    <input id="userName" class="layui-input" type="text" autocomplete="off" placeholder="姓名"/>
                  </div>
                  <div class="layui-inline">
                    <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon layui-icon-search"></i>搜索</button>
                    <button id="btnAdd" class="layui-btn icon-btn"><i class="layui-icon layui-icon-add-circle"></i>添加</button>
                  </div>
                </div>
              </div>
              <table class="layui-table" id="userTable" lay-filter="userTable"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/tree_container :: public_js(~{::script})">
  <script type="text/javascript" th:src="@{/js/system/user/user.js}"></script>
  <script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
    <a class="layui-btn layui-btn-xs" lay-event="reset">重置密码</a>
  </script>
</div>