<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="common/form :: form_res(~{::title},~{},~{::style})">
  <meta charset="UTF-8">
  <title></title>
  <style>
    /* 防止下拉框的下拉列表被隐藏---必须设置--- */
    .layui-table-cell {
      overflow: visible !important;
    }
    /* 使得下拉框与单元格刚好合适 */
    td .layui-form-select{
      margin-top: -10px;
      margin-left: -15px;
      margin-right: -15px;
    }
    /* 解决select被遮挡 */
    .layui-form-select dl {
      z-index: 9999;
    }
    .layui-table-box {
      overflow: visible
    }
    .layui-form-selectup dl {
      bottom: unset;
    }
    .layui-table-grid-down {
      display: none!important;
    }
  </style>
</head>
<form id="dictForm" lay-filter="dictForm" class="layui-form model-form">
  <input id="dictId" name="dictId" type="hidden" th:value="${Dict?.dictId}">
  <input id="parentId" name="parentId" value="0" type="hidden">
  <div class="layui-form-item">
    <label class="layui-form-label">字典名称<span style="color: red;">*</span></label>
    <div class="layui-input-block">
      <input id="name" name="name" th:value="${Dict?.name}" placeholder="请输入字典名称" type="text" class="layui-input"
             lay-verify="required" required autocomplete="off"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">字典编码<span style="color: red;">*</span></label>
    <div class="layui-input-block">
      <input id="code" name="code" th:value="${Dict?.code}" placeholder="请输入字典编码" type="text" class="layui-input"
             lay-verify="required" required autocomplete="off"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">描述</label>
    <div class="layui-input-block">
      <input id="text" name="text" th:value="${Dict?.text}" placeholder="请输入描述" type="text" class="layui-input" autocomplete="off"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">排序</label>
    <div class="layui-input-block">
      <input id="sort" name="sort" th:value="${Dict?.sort}" placeholder="请输入排序" type="text" class="layui-input" lay-verify="number" autocomplete="off"/>
    </div>
  </div>
  <div class="layui-form-item" style="margin-left: 30px;">
    <table class="layui-table" id="itemTable" lay-filter="itemTable"></table>
  </div>
  <div class="layui-form-item text-right">
    <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
    <input class="layui-btn" type="button" lay-filter="btnSubmit" lay-submit value="保存">
  </div>
</form>
<div th:replace="common/form :: form_js(~{::script})">
  <script th:inline="javascript" type="text/javascript">
    let subItems = [[${Dict?.children}]];
  </script>
  <script type="text/javascript" th:src="@{/js/system/dict/add_modify.js}"></script>
  <script type="text/html" id="selReference">
    <select name="referenceDict" lay-filter="referenceFilter" data-value="{{d.referenceId}}">
      <option value="">--请选择--</option>
    </select>
  </script>
  <script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="add">新增</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
  </script>
</div>