<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="common/common :: public_res(~{::title},~{},~{})">
  <title></title>
</head>
<div class="layui-body-header">
  <span class="layui-body-header-title">库存汇总</span>
</div>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
      <div class="layui-card">
        <div class="layui-card-body">
          <div class="layui-form toolbar">
            <div class="layui-form-item">
              <label class="layui-form-label">SKU</label>
              <div class="layui-input-inline">
                <input id="sku" name="sku" class="layui-input" type="text" autocomplete="off"/>
              </div>
              <label class="layui-form-label">商品名称</label>
              <div class="layui-input-inline">
                <input id="goodsName" name="goodsName" class="layui-input" type="text" autocomplete="off"/>
              </div>
              <div class="layui-inline">
                <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon layui-icon-search"></i>搜索</button>
              </div>
            </div>
          </div>
          <table class="layui-table" id="summaryTable" lay-filter="summaryTable"></table>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="common/common :: public_js(~{::script})">
  <script type="text/javascript" th:src="@{/js/stock/stock_summary.js}"></script>
</div>