<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="common/form :: form_res(~{::title},~{},~{})">
  <meta charset="UTF-8">
  <title></title>
</head>
<form class="layui-form" id="permissionForm" lay-filter="permissionForm">
  <div class="layui-fluid" style="padding-bottom: 75px;">
    <div class="layui-card">
      <div class="layui-card-header">基本信息</div>
      <div class="layui-card-body">
        <div class="layui-form-item layui-row">
          <input id="permissionId" name="permissionId" type="hidden" th:value="${Permission?.permissionId}"/>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">权限名称<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input id="permissionName" name="permissionName" th:value="${Permission?.permissionName}" placeholder="请输入权限名称" type="text" class="layui-input" lay-verify="required" required autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">权限类型<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <select name="permissionType" id="permissionType" th:value="${Permission?.permissionType}" lay-verify="required" required lay-filter="changePermissionType">
                <option value="">--请选择--</option>
              </select>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">权限地址</label>
            <div class="layui-input-block">
              <input id="dataUrl" name="dataUrl" th:value="${Permission?.dataUrl}" placeholder="请输入权限地址" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">权限内容</label>
            <div class="layui-input-block">
              <textarea id="content" name="content" placeholder="可以是编码、SQL语句" class="layui-textarea" th:text="${Permission?.content}"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group-bottom text-center">
    <button class="layui-btn" lay-filter="btnSubmit" lay-submit>&emsp;提交&emsp;</button>
    <button type="reset" class="layui-btn layui-btn-primary" ew-event="closeDialog">&emsp;取消&emsp;</button>
  </div>
</form>
<div th:replace="common/form :: form_js(~{::script})">
  <script type="text/javascript" th:src="@{/js/system/permission/add_modify.js}"></script>
</div>