<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: public_res(~{::title},~{},~{})">
  <title></title>
</head>

<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-sm12 layui-col-md12 layui-col-lg12">
      <div class="layui-card">
        <div class="layui-card-body">
          <div class="layui-form toolbar">
            <div class="layui-form-item">
              <div class="layui-inline">
                <input id="permissionName" name="permissionName" class="layui-input" type="text" autocomplete="off" placeholder="权限名称"/>
              </div>
              <div class="layui-inline">
                <select name="permissionType" id="permissionType">
                  <option value="">--权限类型--</option>
                </select>
              </div>
              <div class="layui-inline">
                <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon layui-icon-search"></i>搜索</button>
              </div>
            </div>
          </div>
          <table class="layui-table" id="permissionTable" lay-filter="permissionTable"></table>
        </div>
      </div>
    </div>
  </div>
  <div class="layui-row" style="background: #CFD4D5;padding: 10px;">
    <div style="text-align: center;">
      <button class="layui-btn layui-btn-sm" id="saveButton">保存</button>
      <button class="layui-btn layui-btn-sm layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
    </div>
  </div>
</div>
<div th:replace="common/common :: public_js(~{::script})">
  <script type="text/javascript" th:src="@{/js/system/permission/permission_assign.js}"></script>
  <script th:inline="javascript" type="text/javascript">
    let selId = [[${selId}]];
    let permissionIds = [[${permissionIds}]];
  </script>
</div>