<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="common/form :: form_res(~{::title},~{},~{::style})">
  <meta charset="UTF-8">
  <title></title>
  <style>
    .layui-form-label {width: 100px;}
    .model-form {padding: 0;}
  </style>
</head>
<form id="purchaseOrderForm" lay-filter="purchaseOrderForm" class="layui-form model-form">
  <input id="purchaseOrderId" name="purchaseOrderId" type="hidden" th:value="${PurchaseOrder?.purchaseOrderId}"/>
  <div class="layui-form-item">
    <label class="layui-form-label">采购单号</label>
    <div class="layui-input-inline">
      <input id="purchaseOrderNo" name="purchaseOrderNo" th:value="${PurchaseOrder?.purchaseOrderNo}" type="text" class="layui-input" readonly/>
    </div>

    <label class="layui-form-label">供应商<span style="color: red;">*</span></label>
    <div class="layui-input-inline">
      <select id="supplierId" name="supplierId" th:value="${PurchaseOrder?.supplierId}" lay-verify="required" lay-search>
        <option value="">--请选择--</option>
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">采购员<span style="color: red;">*</span></label>
    <div class="layui-input-inline">
      <select id="purchaserId" name="purchaserId" th:value="${PurchaseOrder?.purchaserId}" lay-verify="required" lay-search>
        <option value="">--请选择--</option>
      </select>
    </div>
    <label class="layui-form-label">采购日期<span style="color: red;">*</span></label>
    <div class="layui-input-inline">
      <input id="purchaseDate" name="purchaseDate" th:value="${#dates.format(PurchaseOrder?.purchaseDate,'yyyy-MM-dd')}" lay-verify="required" type="text" class="layui-input date-icon" autocomplete="off"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">预计到货日期</label>
    <div class="layui-input-inline">
      <input id="expectArriveDate" name="expectArriveDate" th:value="${#dates.format(PurchaseOrder?.expectArriveDate,'yyyy-MM-dd')}" type="text" class="layui-input date-icon" autocomplete="off"/>
    </div>
    <label class="layui-form-label">实际到货日期</label>
    <div class="layui-input-inline">
      <input id="actualArriveDate" name="actualArriveDate" th:value="${#dates.format(PurchaseOrder?.actualArriveDate,'yyyy-MM-dd')}" type="text" class="layui-input date-icon" autocomplete="off"/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">支付日期</label>
    <div class="layui-input-inline">
      <input name="payDate" id="payDate" th:value="${#dates.format(PurchaseOrder?.payDate,'yyyy-MM-dd')}" type="text" class="layui-input date-icon" autocomplete="off"/>
    </div>
    <label class="layui-form-label">支付账号<span style="color: red;">*</span></label>
    <div class="layui-input-inline">
      <input id="payAccount" name="payAccount" th:value="${PurchaseOrder?.payAccount}" type="text" class="layui-input" autocomplete="off" readonly/>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">备注</label>
    <div class="layui-input-inline">
      <textarea name="remark" id="remark" th:text="${PurchaseOrder?.remark}" class="layui-textarea" style="width: 520px;"></textarea>
    </div>
  </div>

  <div class="layui-form-item" style="margin: 10px 30px 0 30px;">
    <a id="btnAdd" class="layui-btn layui-btn-normal layui-btn-xs">添加商品</a>
    <a id="btnPrint" class="layui-btn layui-btn-normal layui-btn-xs">打印条码</a>
    <table class="layui-table" id="detailTable" lay-filter="detailTable" style="display: none;"></table>
  </div>
  <div class="form-group-bottom text-center">
    <button class="layui-btn" lay-filter="btnSubmit" lay-submit th:if="${PurchaseOrder?.orderStatus} != '00'">&emsp;保存&emsp;</button>
    <button type="reset" class="layui-btn layui-btn-primary" ew-event="closeDialog">&emsp;取消&emsp;</button>
  </div>
</form>
<div th:replace="common/form :: form_js(~{::script})">
  <script type="text/javascript" th:src="@{/js/purchase/add_modify_purchase_order.js}"></script>
  <script th:inline="javascript" type="text/javascript">
    let orderDetails = [[${PurchaseOrder?.details}]];
  </script>
  <script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</a>
  </script>
</div>