<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="common/form :: form_res(~{::title},~{},~{})">
  <meta charset="UTF-8">
  <title></title>
</head>
<form class="layui-form">
  <div class="layui-fluid" style="padding-bottom: 75px;">
    <div class="layui-card">
      <div class="layui-card-header">基本信息</div>
      <div class="layui-card-body">
        <div class="layui-form-item layui-row">
          <input id="supplierId" name="supplierId" type="hidden" th:value="${Supplier?.supplierId}"/>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">供应商名称<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input id="supplierName" name="supplierName" th:value="${Supplier?.supplierName}" placeholder="请输入供应商名称" type="text" class="layui-input" lay-verify="required" required autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">供应商编码</label>
            <div class="layui-input-block">
              <input id="supplierCode" name="supplierCode" th:value="${Supplier?.supplierCode}" placeholder="请输入供应商编码" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">联系人<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input id="companyContacts" name="companyContacts" th:value="${Supplier?.companyContacts}" placeholder="请输入联系人" type="text" class="layui-input" lay-verify="required" required autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">联系电话<span style="color: red;">*</span></label>
            <div class="layui-input-block">
              <input id="contactNumber" name="contactNumber" th:value="${Supplier?.contactNumber}" placeholder="请输入联系地址" type="text" class="layui-input" lay-verify="required|contactNum" required autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">阿里网址</label>
            <div class="layui-input-block">
              <input id="aliUrl" name="aliUrl" th:value="${Supplier?.aliUrl}" lay-verify="url" placeholder="请输入阿里网址" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">星级</label>
            <div class="layui-input-block">
              <select name="startLevel" id="startLevel" th:value="${Supplier?.startLevel}">
                <option value="">--请选择--</option>
              </select>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">发票抬头</label>
            <div class="layui-input-block">
              <input id="invoiceTitle" name="invoiceTitle" th:value="${Supplier?.invoiceTitle}" placeholder="请输入发票抬头" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">开户银行</label>
            <div class="layui-input-block">
              <input id="bankName" name="bankName" th:value="${Supplier?.bankName}" placeholder="请输入开户银行" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">银行账号</label>
            <div class="layui-input-block">
              <input id="bankAccount" name="bankAccount" th:value="${Supplier?.bankAccount}" placeholder="请输入银行账号" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">税号</label>
            <div class="layui-input-block">
              <input id="taxNumber" name="taxNumber" th:value="${Supplier?.taxNumber}" placeholder="请输入税号" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">详细地址</label>
            <div class="layui-input-block">
              <input id="contactAddress" name="contactAddress" th:value="${Supplier?.contactAddress}" placeholder="请输入详细地址" type="text" class="layui-input" autocomplete="off"/>
            </div>
          </div>
          <div class="layui-inline layui-col-md12">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
              <textarea name="remark" id="remark" th:text="${Supplier?.remark}" class="layui-textarea" style="width: 400px;"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group-bottom text-center">
    <button class="layui-btn" lay-filter="btnSubmit" lay-submit>&emsp;提交&emsp;</button>
    <button type="reset" class="layui-btn layui-btn-primary" ew-event="closeDialog">&emsp;取消&emsp;</button>
  </div>
</form>
<div th:replace="common/form :: form_js(~{::script})">
  <script type="text/javascript" th:src="@{/js/purchase/supplier/add_modify.js}"></script>
</div>