<!DOCTYPE html>
<html class="bg-white" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}"/>
  <link rel="stylesheet" th:href="@{/plugins/expand/plugins/ztree/zTreeStyle.css}"/>
  <script th:inline="javascript" type="text/javascript">
    let ctxPath = [[${#httpServletRequest.getContextPath()}]];
    let formName = [[${formName}]];
    let formId = [[${formId}]];
    let treeUrl = [[${treeUrl}]];
  </script>
</head>

<body>
<div id="treeForm" class="layui-fluid">
  <div class="layui-row" style="margin-top:15px;background: #f2f7f8;padding: 20px;">
    <ul id="zTree" class="ztree"></ul>
  </div>
  <div class="layui-row" style="background: #CFD4D5;padding: 10px;">
    <div style="text-align: center;">
      <button class="layui-btn layui-btn-sm" id="saveButton">保存</button>
      <button class="layui-btn layui-btn-sm layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
    </div>
  </div>
</div>
</body>

<script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/plugins/jquery/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/plugins/expand/plugins/ztree/jquery.ztree.all.min.js}"></script>
<script type="text/javascript">
  layui.use(['ztree'], function () {
    let $ZTree = layui.ztree;

    let ZTreeDlg = {
      index: parent.layer.getFrameIndex(window.name),
      tempName: "",
      tempId: ""
    };

    ZTreeDlg.onClickItem = function (e, treeId, treeNode) {
      ZTreeDlg.tempName = ZTreeDlg.instance.getSelectedVal();
      ZTreeDlg.tempId = treeNode.id;
    };

    ZTreeDlg.onDBClickItem = function (e, treeId, treeNode) {
      eval(formName + '= ZTreeDlg.instance.getSelectedVal()');
      eval(formId + '= treeNode.id');
      parent.layer.close(ZTreeDlg.index);
    };

    $("#saveButton").bind("click", function () {
      eval(formName + '= ZTreeDlg.tempName');
      eval(formId + '= ZTreeDlg.tempId');
      parent.layer.close(ZTreeDlg.index);
    });

    let ztree = new $ZTree("zTree", treeUrl);
    ztree.bindOnClick(ZTreeDlg.onClickItem);
    ztree.bindOnDblClick(ZTreeDlg.onDBClickItem);
    ztree.init();
    ZTreeDlg.instance = ztree;
  });

</script>

</body>

</html>
