<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.stage.manager.system.mapper.DeptMapper">

    <resultMap id="BaseDeptMap" type="com.deepspc.stage.manager.system.entity.Dept">
        <id column="dept_id" property="deptId" />
        <result column="pid" property="pid" />
        <result column="pids" property="pids" />
        <result column="dept_name" property="deptName" />
        <result column="dept_code" property="deptCode" />
        <result column="description" property="description" />
        <result column="sort" property="sort" />
        <result column="system_code" property="systemCode" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_name" property="creatorName" />
        <result column="create_date" property="createDate" />
        <result column="updator_id" property="updatorId" />
        <result column="updator_name" property="updatorName" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <sql id="default_dept_column">
        dept_id, pid, pids, dept_name, dept_code, description, sort, system_code, creator_id, creator_name, create_date,updator_id,updator_name,update_date
    </sql>

    <select id="layuiTree" resultType="com.deepspc.stage.manager.pojo.LayuiTreeNode">
		select dept_id "id", pid "pid", dept_name "title",
		(
		CASE
		WHEN (pid = 0 OR pid IS NULL) THEN
		'true'
		ELSE
		'false'
		END
		) "spread" from sys_dept
	</select>

    <select id="tree" resultType="com.deepspc.stage.manager.pojo.ZTreeNode">
		select dept_id "id", pid "pId", dept_name "name",
		(
		CASE
		WHEN (pid = 0 OR pid IS NULL) THEN
		'true'
		ELSE
		'false'
		END
		) "open" from sys_dept
	</select>

    <select id="loadDepts" resultMap="BaseDeptMap">
        select
        <include refid="default_dept_column"/>
        from sys_dept where 1 = 1
        <if test="deptName != null and deptName != ''">
            and dept_name like CONCAT('%',#{deptName},'%')
        </if>
        <if test="deptId != null and deptId != ''">
            and (dept_id = #{deptId} or dept_id in ( select dept_id from sys_dept where pids like CONCAT('%$[', #{deptId}, '$]%') escape '$' ))
        </if>
        order by sort ASC
    </select>

</mapper>
