<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.stage.manager.system.mapper.DeptMapper">

  <resultMap id="BaseDeptMap" type="com.deepspc.stage.manager.system.entity.Dept">
    <id column="dept_id" property="deptId"/>
    <result column="pid" property="pid"/>
    <result column="pids" property="pids"/>
    <result column="dept_name" property="deptName"/>
    <result column="pname" property="pname"/>
    <result column="dept_code" property="deptCode"/>
    <result column="description" property="description"/>
    <result column="sort" property="sort"/>
    <result column="system_code" property="systemCode"/>
    <result column="creator_id" property="creatorId"/>
    <result column="creator_name" property="creatorName"/>
    <result column="create_date" property="createDate"/>
    <result column="updator_id" property="updatorId"/>
    <result column="updator_name" property="updatorName"/>
    <result column="update_date" property="updateDate"/>
  </resultMap>

  <sql id="default_dept_column">
        dept_id, pid, pids, dept_name, dept_code, description, sort, system_code, creator_id, creator_name, create_date,updator_id,updator_name,update_date
  </sql>

  <select id="layuiTree" resultType="com.deepspc.stage.manager.pojo.LayuiTreeNode">
		select dept_id "id", pid "pid", dept_name "title",
		(
		CASE
		WHEN (pid = 0 OR pid IS NULL) THEN
		'true'
		ELSE
		'false'
		END
		) "spread" from sys_dept
	</select>

  <select id="tree" resultType="com.deepspc.stage.manager.pojo.ZTreeNode">
		select dept_id "id", pid "pId", dept_name "name",
		(
		CASE
		WHEN (pid = 0 OR pid IS NULL) THEN
		'true'
		ELSE
		'false'
		END
		) "open" from sys_dept
	</select>

  <select id="deptUserTree" resultType="com.deepspc.stage.manager.pojo.ZTreeNode">
      SELECT
          dept_id "id",
          pid "pId",
          dept_name "name",
          'dept' AS "nodeType",
          NULL AS "iconSkin",
          ( CASE WHEN ( pid = 0 OR pid IS NULL OR pid = '' ) THEN 'true' ELSE 'false' END ) "open"
      FROM
          sys_dept UNION
      SELECT
          user_id "id",
          dept_id "pId",
          user_name "name",
          'user' AS "nodeType",
          'user' AS "iconSkin",
          ( CASE WHEN ( dept_id = 0 OR dept_id IS NULL OR dept_id = '' ) THEN 'true' ELSE 'false' END ) "open"
      FROM
          sys_user
  </select>

  <select id="deptUserAssignTree" resultType="com.deepspc.stage.manager.pojo.ZTreeNode">
    SELECT
        d.dept_id "id",
        d.pid "pId",
        d.dept_name "name",
        'dept' AS "nodeType",
        NULL AS "iconSkin",
        ( CASE WHEN ( d.pid = 0 OR d.pid IS NULL ) THEN 'true' ELSE 'false' END ) "open",
        ( CASE WHEN ( d2.dept_id = 0 OR d2.dept_id IS NULL ) THEN 'false' ELSE 'true' END ) "checked"
    FROM
        sys_dept d
        LEFT JOIN (
        SELECT
            dept_id
        FROM
            sys_dept
        WHERE
            LOCATE(dept_id,fn_user_access_dept ( #{accessId} ))) d2 ON d.dept_id = d2.dept_id
    UNION
    SELECT
        u.user_id "id",
        u.dept_id "pId",
        u.user_name "name",
        'user' AS "nodeType",
        'user' AS "iconSkin",
        ( CASE WHEN ( u.dept_id = 0 OR u.dept_id IS NULL ) THEN 'true' ELSE 'false' END ) "open",
        ( CASE WHEN ( a.user_id = 0 OR a.user_id IS NULL ) THEN 'false' ELSE 'true' END ) "checked"
    FROM
        sys_user u
        LEFT JOIN sys_user_access a ON a.user_id = u.user_id
        AND a.access_id = #{accessId}
  </select>

  <select id="loadDepts" resultMap="BaseDeptMap">
    select
    <include refid="default_dept_column"/>
    from sys_dept where 1 = 1
    <if test="deptName != null and deptName != ''">
      and dept_name like CONCAT('%',#{deptName},'%')
    </if>
    <if test="deptId != null and deptId != ''">
      and (dept_id = #{deptId} or dept_id in ( select dept_id from sys_dept where pids like CONCAT('%$[', #{deptId},
      '$]%') escape '$' ))
    </if>
    order by sort ASC
  </select>

  <select id="getDeptsWithParent" resultMap="BaseDeptMap">
    SELECT
      a.dept_id,
      a.pid,
      a.pids,
      a.dept_code,
      a.dept_name,
      b.dept_name "pname",
      a.description,
      a.sort,
      a.creator_id,
      a.creator_name,
      a.create_date,
      a.updator_id,
      a.updator_name,
      a.update_date
    FROM
      sys_dept a
    LEFT JOIN sys_dept b ON a.pid = b.dept_id
    WHERE
      1 = 1
    <if test="deptId != null">
      AND a.dept_id = #{deptId}
    </if>
  </select>
</mapper>
