<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.stage.manager.system.mapper.DictMapper">
  <resultMap id="BaseDictMap" type="com.deepspc.stage.manager.system.entity.Dict">
    <id column="dict_id" property="dictId"/>
    <result column="parent_id" property="parentId"/>
    <result column="parent_code" property="parentCode"/>
    <result column="name" property="name"/>
    <result column="code" property="code"/>
    <result column="text" property="text"/>
    <result column="sort" property="sort"/>
    <result column="system_code" property="systemCode"/>
    <result column="creator_id" property="creatorId"/>
    <result column="creator_name" property="creatorName"/>
    <result column="create_date" property="createDate"/>
    <result column="updator_id" property="updatorId"/>
    <result column="updator_name" property="updatorName"/>
    <result column="update_date" property="updateDate"/>
  </resultMap>

  <sql id="default_dict_column">
    dict_id,parent_id,parent_code,name,code,text,sort,system_code,creator_id,creator_name,create_date,updator_id,updator_name,update_date
  </sql>

  <select id="loadDict" resultMap="BaseDictMap">
    SELECT
    <include refid="default_dict_column"/>
    FROM
        sys_dict
    WHERE
        parent_id = 0
    <if test="dictCode != null and dictCode != ''">
    AND code = #{dictCode}
    </if>
    <if test="dictName != null and dictName != ''">
    AND name like CONCAT('%',#{dictName},'%')
    </if>
  </select>
  
  <select id="getDictAndChildren" resultMap="BaseDictMap">
    SELECT
    <include refid="default_dict_column"/>
    FROM
        sys_dict
    WHERE
      parent_code IN
    <foreach collection="codes" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
      OR CODE IN
    <foreach collection="codes" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    ORDER BY
        sort
  </select>
  
  <insert id="saveBatchDict">
    INSERT INTO sys_dict(dict_id,parent_id,parent_code,name,code,text,sort,system_code,creator_id,creator_name,create_date,updator_id,updator_name,update_date)
    VALUES
    <foreach collection="list" index="index" separator="," item="item">
      (#{item.dictId},#{item.parentId},#{item.parentCode},#{item.name},#{item.code},#{item.text},#{item.sort},#{item.systemCode},#{item.creatorId},#{item.creatorName},#{item.createDate},#{item.updatorId},#{item.updatorName},#{item.updateDate})
    </foreach>
  </insert>
</mapper>