<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.stage.manager.system.mapper.MenuMapper">
  <resultMap id="BaseMenuMap" type="com.deepspc.stage.manager.system.entity.Menu">
    <id column="menu_id" property="menuId"/>
    <result column="code" property="code"/>
    <result column="pcode" property="pcode"/>
    <result column="pcodes" property="pcodes"/>
    <result column="name" property="name"/>
    <result column="icon" property="icon"/>
    <result column="url" property="url"/>
    <result column="sort" property="sort"/>
    <result column="levels" property="levels"/>
    <result column="menu_flag" property="menuFlag"/>
    <result column="description" property="description"/>
    <result column="status" property="status"/>
    <result column="new_page_flag" property="newPageFlag"/>
    <result column="open_flag" property="openFlag"/>
    <result column="system_code" property="systemCode"/>
    <result column="creator_id" property="creatorId"/>
    <result column="creator_name" property="creatorName"/>
    <result column="create_date" property="createDate"/>
    <result column="updator_id" property="updatorId"/>
    <result column="updator_name" property="updatorName"/>
    <result column="update_date" property="updateDate"/>
  </resultMap>

  <sql id="default_menu_column">
    menu_id,code,pcode,pcodes,name,icon,url,sort,levels,menu_flag,description,status,new_page_flag,open_flag,system_code,creator_id,creator_name,create_date,updator_id,updator_name,update_date
  </sql>

  <select id="selectMenuTree" resultMap="BaseMenuMap">
    select
    <include refid="default_menu_column"/>
    from sys_menu
    where status = 'ENABLE'
    <if test="menuName != null and menuName != ''">
      and name like CONCAT('%',#{menuName},'%')
    </if>
    <if test="menuCode != null and menuCode != ''">
      and code like CONCAT('%',#{menuCode},'%'))
    </if>
  </select>
  
  <select id="menuTree" resultType="com.deepspc.stage.manager.pojo.ZTreeNode">
    SELECT
        m1.menu_id "id",
        ( CASE WHEN ( m2.menu_id = 0 OR m2.menu_id IS NULL ) THEN 0 ELSE m2.menu_id END ) "pId",
        m1.name "name",
        ( CASE WHEN ( m2.menu_id = 0 OR m2.menu_id IS NULL ) THEN 'true' ELSE 'false' END ) "open"
    FROM
        sys_menu m1
        LEFT JOIN sys_menu m2 ON m1.pcode = m2.CODE
    ORDER BY
        m1.menu_id ASC
  </select>
  
  <select id="getSubMenusByCode" resultMap="BaseMenuMap">
    SELECT
    <include refid="default_menu_column"/>
    FROM sys_menu
    WHERE pcodes LIKE CONCAT('%$[',#{code},'$]%') escape '$'
  </select>
  
  <delete id="deleteSubMenusByCode">
    DELETE
    FROM
        sys_menu
    WHERE
        menu_id IN ( SELECT a.menu_id FROM ( SELECT menu_id FROM sys_menu WHERE pcodes LIKE CONCAT( '%$[',#{code},']%' ) ESCAPE '$' ) a )
  </delete>
</mapper>