<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.stage.manager.system.mapper.PermissionResourceMapper">
  <insert id="saveBatchPermissionResource">
    insert into sys_permission_resource(permission_id, resource_id) values
    <foreach collection="list" index="index" separator="," item="item">
      (#{item.permissionId},#{item.resourceId})
    </foreach>
  </insert>
</mapper>