<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.stage.manager.system.mapper.PermissionMapper">
  <resultMap id="BasePermissionMap" type="com.deepspc.stage.manager.system.entity.Permission">
    <id column="permission_id" property="permissionId" />
    <result column="permission_name" property="permissionName" />
    <result column="relate_id" property="relateId" />
    <result column="relate_name" property="relateName" />
    <result column="permission_type" property="permissionType" />
    <result column="content" property="content" />
    <result column="data_url" property="dataUrl" />
    <result column="system_code" property="systemCode" />
    <result column="creator_id" property="creatorId" />
    <result column="creator_name" property="creatorName" />
    <result column="create_date" property="createDate" />
    <result column="updator_id" property="updatorId" />
    <result column="updator_name" property="updatorName" />
    <result column="update_date" property="updateDate" />
  </resultMap>

  <sql id="default_role_column">
    permission_id, permission_name, relate_id, permission_type, content, data_url, system_code, creator_id, creator_name, create_date,updator_id,updator_name,update_date
  </sql>

  <select id="loadPermissions" resultMap="BasePermissionMap">
    SELECT
        a.*,
        b.NAME relate_name
    FROM
        sys_permission a
        LEFT JOIN sys_menu b ON a.relate_id = b.menu_id
    WHERE
        1 = 1
    <if test="permissionName != null and permissionName != ''">
        AND a.permission_name like CONCAT('%',#{permissionName},'%')
    </if>
    <if test="permissionType != null and permissionType != ''">
        AND a.permission_type = #{permissionType}
    </if>
  </select>
  
  <select id="getMenuPermissionInfo" resultMap="BasePermissionMap">
    SELECT
        a.*,
        b.NAME relate_name
    FROM
        sys_permission a
        LEFT JOIN sys_menu b ON a.relate_id = b.menu_id
    WHERE
        permission_id = #{permissionId}
  </select>
</mapper>