<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.stage.manager.system.mapper.UserMapper">

  <select id="getUserForSecurity" resultType="com.deepspc.stage.manager.system.entity.User">
    select employee_id "userId", employee_name "userName", account, password, id_num "userCode", salt from oa_employee where account = #{account}
  </select>

</mapper>