<!-- 框架顶部 -->
<html xmlns:th="http://thymeleaf.org">
<div th:fragment="header_content">
  <div class="layui-header">
    <div class="layui-logo">
      <i class="layui-icon layui-icon-component"></i>
      <cite th:text="${appName}">&nbsp;</cite>
    </div>
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item" lay-unselect>
        <a ew-event="flexible" title="侧边伸缩"><i class="layui-icon layui-icon-shrink-right"></i></a>
      </li>
      <!--用于存在多个模块需要切换菜单时使用
      <li class="layui-nav-item layui-hide-xs layui-this" lay-unselect><a nav-bind="${type.code}">${type.name}</a></li>

      <li class="layui-nav-item layui-hide-xs" lay-unselect><a nav-bind="${type.code}">${type.name}</a></li>
      -->
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide-xs" lay-unselect>
        <a ew-event="fullScreen" title="全屏"><i class="layui-icon layui-icon-screen-full"></i></a>
      </li>
      <li class="layui-nav-item" lay-unselect>
        <a>
          <img th:src="${ShiroUser.avatar}" class="layui-nav-img">
          <cite th:text="${ShiroUser.userName}">用户</cite>
        </a>
        <dl class="layui-nav-child">
          <dd lay-unselect>
            <a th:attr="ew-href=@{/sys/userInfo}">个人中心</a>
          </dd>
          <dd lay-unselect>
            <a id="setPsw">修改密码</a>
          </dd>
          <dd lay-unselect>
            <a id="btnLogout">退出</a>
          </dd>
        </dl>
      </li>
      <li class="layui-nav-item" lay-unselect>
        <a ew-event="theme" title="主题" th:attr="data-url=@{/sys/theme}"><i class="layui-icon layui-icon-more-vertical"></i></a>
      </li>
    </ul>
  </div>
</div>
</html>