<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.stage.esmanager.stock.mapper.StockDetailMapper">

  <resultMap id="BaseStockMap" type="com.deepspc.stage.esmanager.stock.entity.StockDetail">
    <id column="stock_detail_id" property="stockDetailId" />
    <result column="order_no" property="orderNo" />
    <result column="relate_id" property="relateId" />
    <result column="sku" property="sku" />
    <result column="category_name" property="categoryName" />
    <result column="category_code" property="categoryCode" />
    <result column="operation_type" property="operationType" />
    <result column="goods_unit" property="goodsUnit" />
    <result column="quantity" property="quantity" />
    <result column="single_price" property="singlePrice" />
    <result column="creator_id" property="creatorId" />
    <result column="creator_name" property="creatorName" />
    <result column="create_date" property="createDate" />
    <result column="summary_date" property="summaryDate" />
  </resultMap>

  <resultMap id="StockSummaryMap" type="com.deepspc.stage.esmanager.stock.model.StockSummary">
    <result column="sku" property="sku" />
    <result column="category_name" property="categoryName" />
    <result column="goods_name" property="goodsName" />
    <result column="goods_unit" property="goodsUnit" />
    <result column="transit_quantity" property="transitQuantity" />
    <result column="stock_quantity" property="stockQuantity" />
  </resultMap>

  <sql id="default_stock_column">
    stock_detail_id,
    order_no,
    relate_id,
    sku,
    category_name,
    category_code,
    operation_type,
    goods_unit,
    quantity,
    single_price,
    creator_id,
    creator_name,
    create_date
  </sql>

  <select id="loadStockDetails" resultMap="BaseStockMap">
    SELECT
    <include refid="default_stock_column"/>
    FROM
      ec_stock_detail
    WHERE
      1 = 1
    <if test="orderNo != null and orderNo != ''">
      AND order_no like CONCAT('%',#{orderNo},'%')
    </if>
    <if test="categoryCode != null and categoryCode != ''">
      AND category_code = #{categoryCode}
    </if>
    <if test="operationType != null and operationType != ''">
      AND operation_type = #{operationType}
    </if>
    ORDER BY
      create_date DESC
  </select>

  <select id="loadStockSummary" resultMap="StockSummaryMap">
    SELECT
      t1.sku,
      t1.goods_name,
      t1.category_name,
      t1.goods_unit,
      t1.transit_quantity,
      t2.stock_quantity
    FROM
      (
      SELECT
        b.sku,
        c.goods_name,
        b.category_name,
        b.goods_unit,
        sum( b.detail_quantity - b.arrive_quantity ) transit_quantity
      FROM
        ec_purchase_order a,
        ec_purchase_order_detail b
        LEFT JOIN ( SELECT gs.sku, gi.goods_name FROM ec_goods_info gi, ec_goods_sku gs WHERE gi.goods_id = gs.goods_id ) c ON b.sku = c.sku
      WHERE
        a.purchase_order_id = b.purchase_order_id
      GROUP BY
        b.sku,
        c.goods_name,
        b.category_name,
        b.goods_unit
      ) t1,
      ( SELECT sku, sum( quantity ) stock_quantity FROM ec_stock_detail GROUP BY sku ) t2
    WHERE
      t1.sku = t2.sku
    <if test="sku != null and sku != ''">
      AND t1.sku LIKE CONCAT('%',#{sku},'%')
    </if>
    <if test="goodsName != null and goodsName != ''">
      AND t1.goods_name LIKE CONCAT('%',#{goodsName},'%')
    </if>
  </select>

  <insert id="insertBatch">
    INSERT INTO ec_stock_detail(stock_detail_id, order_no, relate_id, sku, category_name, category_code, operation_type, goods_unit, quantity, single_price, creator_id, creator_name, create_date)
    VALUES
    <foreach collection="list" item="item" separator =",">
      (#{item.stockDetailId}, #{item.orderNo}, #{item.relateId}, #{item.sku}, #{item.categoryName}, #{item.categoryCode},  #{item.operationType}, #{item.goodsUnit}, #{item.quantity}, #{item.singlePrice}, #{item.creatorId}, #{item.creatorName}, #{item.createDate})
    </foreach>
  </insert>

</mapper>