<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepspc.stage.dataplatform.customer.mapper.CustomerMapper">

  <resultMap id="BaseCustomerInfoMap" type="com.deepspc.stage.dataplatform.customer.entity.CustomerInfo">
    <id column="customer_id" property="customerId" />
    <result column="customer_code" property="customerCode" />
    <result column="customer_name" property="customerName" />
    <result column="province" property="province" />
    <result column="city" property="city" />
    <result column="district" property="district" />
    <result column="address" property="address" />
    <result column="contacts" property="contacts" />
    <result column="contact_number" property="contactNumber" />
    <result column="email" property="email" />
    <result column="creator_id" property="creatorId" />
    <result column="creator_name" property="creatorName" />
    <result column="create_date" property="createDate" />
    <result column="updator_id" property="updatorId" />
    <result column="updator_name" property="updatorName" />
    <result column="update_date" property="updateDate" />
  </resultMap>

  <sql id="default_customer_column">
    customer_id,
    customer_code,
    customer_name,
    province,
    city,
    district,
    address,
    contacts,
    contact_number,
    email,
    creator_id,
    creator_name,
    create_date,
    updator_id,
    updator_name,
    update_date
  </sql>

  <select id="loadCustomers" resultMap="BaseCustomerInfoMap">
    SELECT
    <include refid="default_customer_column"/>
    FROM
      dp_customer_info
    <if test="checkAll">
      WHERE 1 = 1
    </if>
    <if test="!checkAll">
      WHERE creator_id = #{userId}
    </if>
    <if test="customerName != null and customerName != ''">
      AND customer_name like CONCAT('%',#{customerName},'%')
    </if>
    ORDER BY create_date DESC
  </select>

  <delete id="deleteCustomer">
    DELETE FROM dp_customer_info
    WHERE
    customer_id IN
    <foreach collection="customerIds" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

</mapper>